<div class="auth-page">
  <header class="form-header">
    <h1>Login</h1>
  </header>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="app-form login-form">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput id="email" type="email" formControlName="email" />
      @if (
        this.loginForm.get('email')?.invalid &&
        (this.loginForm.get('email')?.touched || this.loginForm.get('email')?.dirty)
      ) {
        @if (this.loginForm.get('email')?.hasError('required')) {
          <mat-error>Email is required</mat-error>
        } @else if (this.loginForm.get('email')?.hasError('email')) {
          <mat-error>Invalid email format</mat-error>
        }
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput id="password" type="password" formControlName="password" />
      @if (
        this.loginForm.get('password')?.invalid &&
        (this.loginForm.get('password')?.touched || this.loginForm.get('password')?.dirty)
      ) {
        @if (this.loginForm.get('password')?.hasError('required')) {
          <mat-error>Password is required</mat-error>
        }
      }
    </mat-form-field>

    <div class="form-actions">
      <button matButton type="submit" [disabled]="loginForm.invalid">Log in</button>
      <div class="auth-link">
        <a routerLink="/register">Don't have an account? Register now </a>
      </div>
    </div>
  </form>
</div>
