<mat-tab-group>
  <mat-tab label="Received">
    <div class="tab">
      @if (receivedNotes$ | async; as receivedNotes) {
        <div class="share-card-grid">
          @for (share of receivedNotes; track share.id) {
            <app-share-card [share]="share" />
          }
        </div>
      }
    </div>
  </mat-tab>
  <mat-tab label="Sent">
    <div class="tab">
      @if (sentNotes$ | async; as sentNotes) {
        <div class="share-card-grid">
          @for (share of sentNotes; track share.id) {
            <app-share-card [share]="share" [isReceived]="false" />
          }
        </div>
      }
    </div>
  </mat-tab>
</mat-tab-group>
