.card-content {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.card-header {
  font-size: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
