<form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
    <label for="email">Email: </label>
    <input id="email" type="email" formControlName="email" />
    
    @if(email?.invalid && (email?.touched || email?.dirty)) {
        @if (email?.hasError('required')) {
            <div>
                Email is required
            </div>
        } 
        @else if (email?.hasError('email')) {
            <div>
                Invalid email format
            </div>
        }
    }

    <label for="password">Password: </label>
    <input id="password" type="password" formControlName="password" />

    @if(password?.invalid && (password?.touched || password?.dirty)) {
        @if (email?.hasError('required')) {
            <div>
                Password is required
            </div>
        } 
    }

    <button type="submit" [disabled]="loginForm.invalid">Log in</button>
</form>
