<div class="profile-page">
  <header class="page-header">
    <h1>Edit profile</h1>
  </header>

  <form [formGroup]="profileForm" (ngSubmit)="onEditProfileSubmit()" class="app-form profile-form">
    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput id="firstName" type="text" formControlName="firstName" />
      @if (
        profileForm.get('firstName')?.invalid &&
        (profileForm.get('firstName')?.touched || profileForm.get('firstName')?.dirty)
      ) {
        <mat-error>First name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input matInput id="lastName" type="text" formControlName="lastName" />
      @if (
        profileForm.get('lastName')?.invalid &&
        (profileForm.get('lastName')?.touched || profileForm.get('lastName')?.dirty)
      ) {
        <mat-error>Last name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput id="email" type="text" formControlName="email" />
    </mat-form-field>

    <div class="form-actions">
      <button matButton type="submit" [disabled]="profileForm.invalid">Submit</button>
    </div>
  </form>
  <div class="page-options">
    <button matButton (click)="onDeleteClicked()">Delete account</button>
  </div>
</div>
