<ng-template #noteContent>
  <mat-card-header class="card-header">
    <mat-card-title>
      {{ note.title }}
      <mat-chip>
        {{ note.date | date: 'dd-MM-yyyy' }}
      </mat-chip>
    </mat-card-title>

    @if (!isViewMode) {
      <mat-checkbox
        [checked]="selectedNoteIds().includes(note.id)"
        (change)="onSelectionChange(note.id, $event.checked)"
      >
      </mat-checkbox>
    }
  </mat-card-header>

  <mat-card-content class="card-content">
    <div class="tags">
      @for (tag of note.tags; track $index) {
        <mat-chip> {{ tag.name }} </mat-chip>
      }
    </div>
    <div class="card-text">
      <p>{{ note.text }}</p>
    </div>

    <div class="grade-section">
      <span>Grade: </span>
      <mat-chip> {{ note.grade }} </mat-chip>
    </div>
  </mat-card-content>

  <mat-card-actions class="card-actions">
    <button matButton (click)="onViewClick(note.id, note)">View</button>
    @if (!isViewMode) {
      <div class="secondary-actions">
        <button
          matSuffix
          color="warn"
          mat-icon-button
          (click)="onDeleteClick(note.id)"
          aria-label="Delete note"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button matSuffix mat-icon-button (click)="onShareClick(note.id)" aria-label="Share note">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    }
  </mat-card-actions>
</ng-template>

@if (embedded) {
  <ng-container *ngTemplateOutlet="noteContent" />
} @else {
  <mat-card class="note-card">
    <ng-container *ngTemplateOutlet="noteContent" />
  </mat-card>
}
