@if (notes$ | async; as notes) {
  @for (note of notes; track note.id) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ note.title }}
          <mat-chip>
            {{ note.date | date: 'dd-MM-yyyy' }}
          </mat-chip>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        @for (tag of note.tags; track $index) {
          <mat-chip> {{ tag.name }} </mat-chip>
        }
        <p>{{ note.text }}</p>
        <mat-label>Grade: </mat-label>
        <mat-chip> {{ note.grade }} </mat-chip>
      </mat-card-content>

      @if (!isViewMode) {
        <mat-card-actions>
          <button matButton (click)="onViewClick(note.id, note)">View</button>
          <button
            color="warn"
            mat-icon-button
            (click)="onDeleteClick(note.id)"
            aria-label="Delete note"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      }
    </mat-card>
  }
}
