/* You can add global styles to this file, and also import other style files */
:root {
  --bg-color: #f8f7fa;
  --primary-color: var(--mat-sys-primary);
  
  --hero-card: #ffffff;
  --card: var(--mat-sys-surface-container);
  --card-border: var(--mat-sys-outline-variant);
  
  --primary-text: var(--mat-sys-on-surface);
  --secondary-text: var(--mat-sys-on-surface-variant);
  
  --chips-bg: #fce8ed;
  --chips-text: #8b3a4a;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

form {
  padding: 20px;
}

label {
  display: block;
}

input {
  width: 75%;
  padding: 10px;
  margin: 5px 0;
  display: inline-block;
}

button[type='submit'] {
  display: inline-block;
  width: 40%;
}

.app-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--card-border);
  background-color: var(--hero-card);
  border-radius: 15px;
  width: 100%;
  padding: 2rem;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.form-header {
  text-align: center;
}

.auth-page {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 500px;
  margin-inline: auto;
}

.auth-link {
  color: var(--secondary-text);

  a {
    color: var(--primary-color);
    font-weight: 500;
  }
}

.tab {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1.5rem;
}

h1 {
  color: var(--primary-text);
}
