<div class="home-page">
  <section class="chart-section">
    <h1>Weekly chart</h1>
    <app-date-picker (dateRangeChanged)="onDateRangeChanged($event)" />
    <app-grade-chart [gradeSummary]="gradeSummary$ | async" />
  </section>

  <section class="notes-section">
    <h1>Latest notes</h1>
    @if (latestNotes$ | async; as latestNotes) {
      <div class="notes-grid">
        @for (note of latestNotes; track note.id) {
          <app-notes-card [note]="note" [isViewMode]="true" [isReadonlyMode]="true" />
        }
      </div>
    }
  </section>
</div>
