<h2 mat-dialog-title>View note</h2>
<mat-dialog-content>
  @if (!data.isReadonlyMode) {
    <app-note-form
      [note]="data.note"
      (formSubmitted)="onDialogSubmit($event)"
      [allTagOptions]="data.tags"
    />
  } @else {
    <div class="note-view">
      <div class="note-header">
        <h3>{{ data.note.title }}</h3>
        <mat-chip>{{ data.note.date | date: 'dd-MM-yyyy' }}</mat-chip>
      </div>
    </div>

    <div class="note-text">
      {{ data.note.text }}
    </div>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton mat-dialog-close>Close</button>
</mat-dialog-actions>
