<app-note-search-bar [allTagOptions]="allTags()" (searchEvent)="searchNotes($event)" />

@if (allNotes$ | async; as allNotes) {
  @for (note of allNotes; track note.id) {
    <app-notes-card
      [note]="note"
      (noteUpdated)="updateNote($event)"
      (noteDeleted)="deleteNote($event)"
      (noteShared)="shareNote($event)"
      [allTags]="allTags()"
      [(selectedNoteIds)]="selectedNoteIds"
    />
  }
}

@if (selectedNoteIds().length > 0) {
  <div>
    <span>{{ selectedNoteIds().length }} notes selected</span>

    <button matButton (click)="downloadSelectedNotes()">Download</button>
  </div>
}
